<html>
<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'web/colores.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Coronao 1W</title>
</head>

<body>
    <nav class="navbar navbar cabecera">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{% static 'web/images/coronao.jpg' %}" alt="coroano" width="64" height="48" /></a>
            </div>
            <h1 class="titulo"> Coronaooo' news </h1>
        </div>
    </nav>

    <br>
    <h3>
        Historia COVID19:
    </h3>
    <br> 31/12/2019: China notificó a la OMS sobre una misteriosa neumonía en Wuhan, de unos once millones de habitantes. Expertos de todo el mundo comenzaron a tratar de identificar al agente causal.
    <br>
    <br> 07/01/2020: Los científicos chinos identificaron un nuevo virus (holaaa)
    <br>
    <br>
    <h3> Ejemplo para subir cambios, le faltó un comentario.</h3>

    <h4>otro cambio</h4>
    <h5> Probando 123</h5>


    <img src="{% static 'web/images/coronao.jpg' %}" alt="coroano" width="300" height="150" />
</body>

</html>