<html>
<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'web/colores.css' %}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Coronao 1W</title>
</head>

<body>
    <nav class="navbar navbar cabecera">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="{% static 'web/images/coronao.jpg' %}" alt="coroano" width="64" height="48" /></a>
            </div>
            <h1 class="titulo"> Coronaooo' news </h1>
        </div>
    </nav>

    <h1>corona virus news</h1>
<p>historia sobre la evolucion del covid-19:</p>
<p>31.12.2019 China notificó a la OMS sobre sobre una misteriosa neumonia Wuhan.  </p>
<p>07.01.2020 Científicos chinos identificaron un nuevo virus. Llamado provisionalmente 2019-nCoV y posteriormente Sars-Cov-2 </p>
<p>11.01.2020 China anunció la primera muerte causada por el nuevo coronavirus. Un hombre de 61 años, que había estado comprando en el mercado de mariscos de Wuhan, murió de complicaciones por neumonía.</p>
<p>20.01.2020 entre estas fechas, Tailandia y el Japón comenzaron a notificar casos de infecciones en personas que habían visitado el mismo mercado en Wuhan. En la ciudad china, se confirma la segunda muerte.Se confirma que el virus puede transmitirse directamente entre persona.</p>
<p>23.01.2020 Wuhan fue puesto en cuarentena como medida de precuasion. Se suspendió el transporte público y se comienza a construir un nuevo hospital para tratar a los pacientes infectados, que sumaban más de 830 el 24 de enero. El número de muertos se había elevado a 26. El aislamiento se extendió a otras 13 ciudades, afectando a 36 millones de personas.</p>
<p>24.01.2020 Autoridades francesas confirmaron tres nuevos casos de coronavirus en sus fronteras, marcando la llegada del virus a Europa. Luego, Australia confirmó 4 personas infectadas.</p>
<p>27.01.2020 Se detectó el primer caso en Alemania. Investigadores alemanes trabajan en una posible vacuna.</p>
<p>28.01.2020 El número de muertes en todo el mundo seperó las 100 personas, y la cantidad de infectados llegó a casi 4.500 personas.</p>
<p>02.02.2020 Filipinas informa sobre un hombre de 44 años que habia muerto en el país por corona virus. Fue la primera muerte fuera de China.</p>
<p>07.02.2020 El doctor chino Li Wenliang muere por corona virus. Meses antes, este medico trató de advertir a las autoridades chinas sobre el virus pero fue obligado a firmar un documento que declaraban sus acusaciones infundadas.</p>
<p>14.02.2020 Se confirma el primer caso en Egipto,África. Comienza a expandirse por todo el continente africano.</p>
<p>23.02.2020 Once ciudades italianas fueron aisladas debido a la rápida propagacion del virus. Debido al virus, el tradicional Carnaval de Venecia se cerró antes de lo esperado.</p>
<p>26.02.2020 Para estas fechas el nuevo virus se habia extendido a mas de 40 países, mató a más de 2.700 e infectó a más de 80.000, y 30.000 recuperados. Brasil confirma el primer caso.</p>


    <img src="{% static 'web/images/info.png' %}" alt="coroano" width="150" height="300" />
</body>

</html>